.heading {
    font-weight: 800;
    font-style: normal;
    line-height: 8rem;
    letter-spacing: -2px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    &--H1 {
      font-size: 7.2rem;
    }
    &--H2 {
      font-size: 5.6rem;
      line-height: 6.4rem;
    }
    &--H3 {
        font-size: 4rem;
      }
    &--H4 {
        font-size: 2.4rem;
      }
    &--H5 {
        font-size: 1.6rem;
      }
  
    @media (min-width: 1024px) {
      &--H1 {
        font-size: 7.2rem;
      }
      &--H2 {
        font-size: 4rem;
      }
      &--small {
        font-size: 2.6rem;
      }
    }

  
    &--dark {
        color: #391400;
      }
      &--lightOrange{
        color: #F9E5DA;
      }
      &--orange {
        color: #EF6D58;
      }
      &--white {
        color: #ffffff;
      }
    
  
    &--uppercase {
      text-transform: uppercase;
      font-style: normal;
    }
  }