.AnimalPage {
    &__container{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #F9E5DA;
        padding-bottom: 26rem;
    }
  &__header {
    background-color: #28293e;
    width: 100vw;
    min-height: 40rem;
    padding-top: 10.4rem;
    padding-right: 5rem;
    padding-left: 5rem;
    
    @media (min-width: 1024px){
        padding-top: 10rem;
        min-height: 40rem;
    }
    
  }

  &__habitat{
    text-transform: uppercase;
    display: flex;
    margin-left: 2.3rem;
    margin-right: 44.6rem;
    @media (min-width: 1024px){
      margin-left: 43.5rem;
    margin-right: 86.4rem;
  }
  }
  &__subHeader {
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
    opacity: 60%;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0.2rem;
    max-width: 32.9rem;
    margin: auto;
    @media (min-width: 1024px){
        padding-top: 5rem;
        text-align: center;
        max-width: 57.0rem;
        margin: auto;
    }
  }

  &__description{
    text-align: center;
    opacity: 64%;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 3.1rem;
    line-height: 3.2rem;
    @media (min-width: 700px){
      margin-top: 6rem;
      margin-left: 10rem;
      margin-right: 10rem;
      min-width: 57rem;
      min-height: 22.7rem;
  }
    @media (min-width: 1024px){
      margin-top: 6rem;
      margin-left: 43.5rem;
      margin-right: 43.5rem;
      min-width: 57rem;
      min-height: 22.7rem;
  }
  }

  &__img {
    width: 32.9rem;
    height: 18.4rem;
    object-fit: scale-up;
   
    position: relative;
    margin: 8rem auto;
   
     
    
    @media (min-width: 1024px) {
     margin: 8rem auto;
      display: flex;
        width: 117rem;
      height: 65.6rem;
    }
  }
}
